<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="shared/header :: header-css"/>
        <title>Strona domowa</title>
    </head>
    <body>
        <div th:replace="shared/header :: header('bankAccounts')"/>
        <table class="table">
            <thead>
            <tbody>
                <tr th:each="userAccount : ${userAccounts}">
                    <td>
                        <a class="nav-link" href="#" onclick="document.getElementById('userBankAccount').submit()">
                            <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_YOUNG')}">
                                <span>KONTO DLA MŁODYCH</span>
                            </div>
                            <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_ADULT')}">
                                <span>STANDARDOWE KONTO</span>
                            </div>
                            <div th:if="${userAccount.accountType.type.toString().equals('FOR_CUR_ACC')}">
                                <span>KONTO WALUTOWE</span>
                            </div>
                        </a>
                        <form th:action="@{/userBankAccount}" id="userBankAccount" method="post" style="display: none;">
                            <input
                                    type="hidden"
                                    th:name="bankAccountNumber"
                                    th:value="${userAccount.bankAccountNumber}"/>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                        </form>
                    </td>
                    <td>
                        [[${userAccount.bankAccountNumber}]]
                    </td>
                    <td>
                        <span th:text="${#numbers.formatDecimal(userAccount.availableFounds,1,2) + ' ' + userAccount.currency.name}"></span>
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>