<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="shared/header :: header-css"/>
        <title>Strona domowa</title>
    </head>
    <body>
        <div th:replace="shared/header :: header('bankAccounts')"/>
        <table class="table">
            <thead>
            <tbody>
                <tr th:each="userAccount : ${userAccounts}">
                    <td>
                        <table class="table">
                            <tr>
                                <td>
                                    <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_YOUNG')}">
                                        <span>KONTO DLA MŁODYCH</span>
                                    </div>
                                    <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_ADULT')}">
                                        <span>STANDARDOWE KONTO</span>
                                    </div>
                                    <div th:if="${userAccount.accountType.type.toString().equals('FOR_CUR_ACC')}">
                                        <span>KONTO WALUTOWE</span>
                                    </div>
                                </td>
                                <td>
                        <span th:style="${'color: red;'}"
                              th:text="${'Blokady   ' + #numbers.formatDecimal(userAccount.lock,1,2) + ' ' + userAccount.currency.name}"></span>
                                </td>
                                <td>Dostępne środki</td>
                            </tr>
                            <tr>
                                <td>
                                    [[${userAccount.bankAccountNumber}]]
                                </td>
                                <td>
                                    <span th:text="${'Saldo ' + #numbers.formatDecimal(userAccount.balance,1,2) + ' ' + userAccount.currency.name}"></span>
                                </td>
                                <td>
                                    <span th:text="${#numbers.formatDecimal(userAccount.availableFounds,1,2) + ' ' + userAccount.currency.name}"></span>
                                </td>
                            </tr>
                        </table>
                    <td>
                <tr>
            </tbody>
        </table>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>