<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Potwierdzenie</title>
    </head>
    <body>
        <h1 style="text-align: center; margin-top: 5%">
            Wolski Worldwide Bank
        </h1>
        <table style="text-align: center;" class="table">
            <tr>
                <td>
                    Właściciel:
                </td>
                <td>
                    [[${user.firstName + " " + user.lastName}]]
                </td>
            </tr>
            <tr>
                <td>
                    Data wydruku:
                </td>
                <td>
                    <span th:text="${#dates.format(date, 'dd-MM-yyyy HH:mm')}"></span>
                </td>
            </tr>
        </table>

        <table style="text-align: center;" class="table">
            <tr>
                <td>
                    Numer rachunku:
                </td>
                <td>
                    [[${userAccount.bankAccountNumber}]]
                </td>
            </tr>
            <tr>
                <td>
                    Data transakcji:
                </td>
                <td>
                    <span th:text="${#dates.format(transaction.date, 'dd-MM-yyyy')}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Odbiorca/Nadawca/Tytuł:
                </td>
                <td>
                    <table>
                        <tr>
                            <div th:if="${transaction.transactionType.type.toString().equals('TRANSFER')}">
                                <div th:if="${transaction.fromBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                                    <span>[[${transaction.userNameTo}]]</span>
                                </div>
                                <div th:if="${transaction.toBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                                    <span>[[${transaction.userNameFrom}]]</span>
                                </div>
                            </div>
                            <div th:if="${transaction.transactionType.type.toString().equals('CASH_WITHDRAWAL')}">
                                <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_YOUNG')}">
                                            <span>KONTO DLA MŁODYCH
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                userAccount.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                </div>
                                <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_ADULT')}">
                                            <span>STANDARDOWE KONTO
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                account.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                </div>
                                <div th:if="${userAccount.accountType.type.toString().equals('FOR_CUR_ACC')}">
                                            <span>KONTO WALUTOWE
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                userAccount.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                </div>
                            </div>
                            <div th:if="${transaction.transactionType.type.toString().equals('CASH_PAYMENT')}">
                                <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_YOUNG')}">
                                            <span>KONTO DLA MŁODYCH
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                userAccount.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                </div>
                                <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_ADULT')}">
                                            <span>STANDARDOWE KONTO
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                account.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                </div>
                                <div th:if="${userAccount.accountType.type.toString().equals('FOR_CUR_ACC')}">
                                            <span>KONTO WALUTOWE
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                userAccount.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            [[${transaction.title}]]
                        </tr>
                    </table>
                </td>
            </tr>
            <tr th:unless="${transaction.fromBankAccountNumber != null || transaction.fromBankAccountNumber != null}">
                <td>
                    <div th:if="${transaction.fromBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                        <span>Na rachunek:</span>
                    </div>
                    <div th:if="${transaction.toBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                        <span>Z rachunku:</span>
                    </div>
                </td>
                <td>
                    <div th:if="${transaction.fromBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                        <span>[[${transaction.toBankAccountNumber}]]</span>
                    </div>
                    <div th:if="${transaction.toBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                        <span>[[${transaction.fromBankAccountNumber}]]</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Operacja:
                </td>
                <td>
                    <div th:if="${transaction.transactionType.type.toString().equals('TRANSFER')}">
                        Przelew gotówkowy
                    </div>
                    <div th:if="${transaction.transactionType.type.toString().equals('CASH_WITHDRAWAL')}">
                        Wypłata gotówki
                    </div>
                    <div th:if="${transaction.transactionType.type.toString().equals('CASH_PAYMENT')}">
                        Wpłata gotówki
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Kwota:
                </td>
                <td>
                    <div th:if="${transaction.transactionType.type.toString().equals('TRANSFER')}">
                        <div th:if="${transaction.fromBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                            <span th:text="${#numbers.formatDecimal('-' + transaction.value,1,2)  + ' ' + transaction.currency.name}"></span>
                        </div>
                        <div th:if="${transaction.toBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                            <span th:text="${#numbers.formatDecimal(transaction.value,1,2)  + ' ' + transaction.currency.name}"></span>
                        </div>
                    </div>
                    <div th:if="${transaction.transactionType.type.toString().equals('CASH_WITHDRAWAL')}">
                        <span th:text="${#numbers.formatDecimal('-' + transaction.value,1,2)  + ' ' + transaction.currency.name}"></span>
                    </div>
                    <div th:if="${transaction.transactionType.type.toString().equals('CASH_PAYMENT')}">
                        <span th:text="${#numbers.formatDecimal(transaction.value,1,2)  + ' ' + transaction.currency.name}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Saldo:
                </td>
                <td>
                    <div th:if="${transaction.transactionType.type.toString().equals('TRANSFER')}">
                        <div th:if="${transaction.fromBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                            <span th:text="${#numbers.formatDecimal(transaction.balanceAfterTransactionUserFrom,1,2)  + ' ' + transaction.currency.name}"></span>
                        </div>
                        <div th:if="${transaction.toBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                            <span th:text="${#numbers.formatDecimal(transaction.balanceAfterTransactionUserTo,1,2)  + ' ' + transaction.currency.name}"></span>
                        </div>
                    </div>
                    <div th:if="${transaction.transactionType.type.toString().equals('CASH_WITHDRAWAL')}">
                        <span th:text="${#numbers.formatDecimal(transaction.balanceAfterTransactionUserFrom,1,2)  + ' ' + transaction.currency.name}"></span>
                    </div>
                    <div th:if="${transaction.transactionType.type.toString().equals('CASH_PAYMENT')}">
                        <span th:text="${#numbers.formatDecimal(transaction.balanceAfterTransactionUserTo,1,2)  + ' ' + transaction.currency.name}"></span>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>