<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="shared/header :: header-css"/>
        <title>Strona domowa</title>
    </head>
    <body>
        <div th:replace="shared/header :: header('home')"/>
        <table class="table">
            <thead>
            <tbody>
                <tr>
                    <td>
                        [[${userAccount.accountType.name}]]
                    </td>
                    <td>
                        <span th:style="${'color: red;'}"
                              th:text="${'Blokady   ' + #numbers.formatDecimal(userAccount.lock,1,2)}"></span>
                    </td>
                    <td>Dostępne środki</td>
                </tr>
                <tr>
                    <td>
                        [[${userAccount.bankAccountNumber}]]
                    </td>
                    <td>
                        <span th:text="${'Saldo ' + #numbers.formatDecimal(userAccount.balance,1,2)}"></span>
                    </td>
                    <td>
                        <span th:text="${#numbers.formatDecimal(userAccount.availableFounds,1,2)}"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <br> <br>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        Data
                    </td>
                    <td>
                        Odbiorca/Nadawca
                    </td>
                    <td>
                        Tytuł
                    </td>
                    <td>
                        Kwota
                    </td>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td>
                        <span th:text="${#dates.format(transaction.date, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        [[${transaction.userNameFrom}]]
                    </td>
                    <td>
                        [[${transaction.title}]]
                    </td>
                    <td>
                        <span th:text="${#numbers.formatDecimal(transaction.value,1,2)}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>