<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <div th:replace="shared/loginHeader :: header-css"/>

        <title>Strona domowa</title>
    </head>
    <body class="card">
        <div th:replace="shared/loginHeader :: header('index')"/>
        <table class="table table-striped">
            <thead>
            <tbody>
                <tr th:each="vehicle : ${vehicleListPage.content}">

                    <td>
                        <span>[[${vehicle.name}]]</span>
                    </td>
                    <td>
                        <span th:if="${vehicle.model.isEmpty()}">Brak danych</span>
                        <span th:unless="${vehicle.model.isEmpty()}">[[${vehicle.model}]]</span>
                    </td>
                    <td>
                        [[${vehicle.vehicleType.name}]]
                    </td>
                    <td><span th:text="${#dates.format(vehicle.productionDate, 'dd-MM-yyyy')}"></span></td>
                    <td><span th:text="${#numbers.formatDecimal(vehicle.price,2,2)}"></span></td>
                    <td>
                        <span th:if="${vehicle.price lt boundMin}">TANI</span>
                        <span th:if="${vehicle.price gt boundMax}">DROGI</span>
                        <span th:if="${vehicle.price ge boundMin && vehicle.price le boundMax}">ŚREDNI</span>
                        <!-- tani|średni|drogi -->
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-danger" th:href="@{/vehicleList.html(did=${vehicle.id})}" >Usuń</a>
                        <a class="btn btn-success" th:href="@{/vehicleForm.html(id=${vehicle.id})}">Edytuj</a>
                    </td>

                </tr>

            </tbody>
        </table>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>