<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <div th:replace="shared/loginHeader :: header-css"/>

        <title>Strona domowa</title>
    </head>
    <body class="card">
        <div th:replace="shared/header :: header('home')"/>
        <table class="table table-striped">
            <thead>
            <tbody>
                <tr>
                    <td>
                        [[${userAccount.accountType.name}]]
                    </td>
                    <td><span th:text="${#numbers.formatDecimal(userAccount.balance,1,2)}"></span></td>
                </tr>
            </tbody>
        </table>

        <tbody>
            <tr th:each="transaction : ${transactions}">
                <td>
                    [[${transaction.userNameFrom}]]
                </td>
                <td><span th:text="${#dates.format(transaction.date, 'dd-MM-yyyy')}"></span></td>
                <td><span th:text="${#numbers.formatDecimal(transaction.value,0,2)}"></span></td>
            </tr>
        </tbody>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>