<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Lokaty</title>
</head>
<body>
<div th:replace="shared/header :: header('investments')"/>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:method="POST" th:object="${investment}" id="investment">
                <div class="form-group">
                    <select th:field="*{investmentType}" class="form-control">
                        <option th:each="type : ${investmentTypes}"
                                th:attr="data-rates=${type.investmentRates}"
                                th:value="${type.id}"
                                th:text=" ${type.name + ' - '+ type.investmentRates + '%'}"
                        />
                    </select>
                </div>

                <div class="form-group">
                    <input type="number" min="100" th:field="*{investmentAmount}"
                           class="form-control" placeholder="Wysokość Lokaty" required="true"
                           autofocus="true"/>
                </div>
                <div class="form-group">
                    <span>Ilość miesięcy</span>
                </div>
                <div class="form-group">
                    <select th:field="*{numberOfMonths}" class="form-control">
                        <option th:each="month : ${#numbers.sequence(12, 24, 6)}"
                                th:value="${month}"
                                th:text="${month}"
                        />
                        <option th:each="month : ${#numbers.sequence(36, 120, 12)}"
                                th:value="${month}"
                                th:text="${month}"
                        />
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{totalRepayment}" class="form-control" readonly/>
                    <span>PLN</span>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input
                                type="hidden"
                                th:name="${_csrf.parameterName}"
                                th:value="${_csrf.token}"/>
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Załóż lokatę"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>