<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="shared/header :: header-css"/>
        <title>Strona domowa</title>
    </head>
    <body>
        <div th:replace="shared/header :: header('notifications')"/>
        <table class="table table-striped">
            <tbody>
                <tr th:if="${notifications.isEmpty()}">
                    <td>
                        Brak powiadomień!
                    </td>
                </tr>
                <tr th:each="notification : ${notifications}">
                    <td>
                        [[${notification.title}]]
                    </td>
                    <td>
                        <span th:text="${#dates.format(notification.date, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        [[${notification.message}]]
                    </td>
                    <td>
                        <a href="#" th:onclick="'document.getElementById(\'' + ${notification.id} + '\').submit();'">
                            Usuń powiadomienie
                        </a>
                        <form th:action="@{/deleteNotification}" th:id="${notification.id}" method="post" style="display: none;">
                            <input
                                    type="hidden"
                                    th:name="notification"
                                    th:value="${notification.id}"/>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>