<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <div th:replace="shared/header :: header-css"/>
        <title>Strona domowa</title>
    </head>
    <body>
        <div th:replace="shared/header :: header('users')"/>
        <table class="table">
            <thead>
            <tbody>
                <tr>
                    <td>
                        [[${user.firstName + ' ' + user.lastName}]]
                    </td>
                    <td>
                        [[${user.personalIdentificationNumber}]]
                    </td>
                </tr>
                <tr>
                    <td>
                        [[${user.email}]]
                    </td>
                    <td>
                        [[${user.birthDate}]]
                    </td>
                </tr>
                <tr>
                    <td>
                        [[${user.phone}]]
                    </td>
                    <td>
                        [[${user.address.street + ' ' + user.address.houseNumber}]]
                        <span th:if="${user.address.apartmentNumber.isEmpty()}"></span>
                        <span th:unless="${user.address.apartmentNumber.isEmpty()}">[[${'/' + user.address.apartmentNumber}]]</span>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        [[${user.address.zipCode + ' ' + user.address.city}]]
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <table class="table">
            <thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        Blokady
                    </td>
                    <td>
                        Saldo
                    </td>
                    <td>
                        Dostępne środki
                    </td>
                </tr>
                <tr th:each="userAccount : ${userAccounts}">
                    <td>
                        <a class="nav-link" href="#" th:onclick="'document.getElementById(\'' + ${userAccount.id} + '\').submit();'">
                            <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_YOUNG')}">
                                <span>KONTO DLA MŁODYCH</span>
                            </div>
                            <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_ADULT')}">
                                <span>STANDARDOWE KONTO</span>
                            </div>
                            <div th:if="${userAccount.accountType.type.toString().equals('FOR_CUR_ACC')}">
                                <span>KONTO WALUTOWE</span>
                            </div>
                        </a>
                        <form th:action="@{/userBankAccount}" th:id="${userAccount.id}" method="post" style="display: none;">
                            <input
                                    type="hidden"
                                    th:name="bankAccountNumber"
                                    th:value="${userAccount.bankAccountNumber}"/>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                        </form>
                    </td>
                    <td>
                        [[${userAccount.bankAccountNumber}]]
                    </td>
                    <td>
                        <span th:style="${'color: red;'}"
                              th:text="${#numbers.formatDecimal(userAccount.lock,1,2) + ' ' + userAccount.currency.name}"></span>
                    </td>
                    <td>
                        <span th:text="${#numbers.formatDecimal(userAccount.balance,1,2) + ' ' + userAccount.currency.name}"></span>
                    </td>
                    <td>
                        <span th:text="${#numbers.formatDecimal(userAccount.availableFounds,1,2) + ' ' + userAccount.currency.name}"></span>
                    </td>
                    <td>
                        <a th:style="${'color: red;'}" sec:authorize="hasRole('ROLE_EMPLOYEE')"
                           th:href="@{/cashWithdrawal(bankAccountNumber=${userAccount.bankAccountNumber})}">
                            Wypłata
                        </a>
                    </td>
                    <td>
                        <a th:style="${'color: green;'}" sec:authorize="hasRole('ROLE_EMPLOYEE')"
                           th:href="@{/cashPayment(bankAccountNumber=${userAccount.bankAccountNumber})}">
                            Wpłata
                        </a>
                    </td>
                <tr>
            </tbody>
        </table>
        <br> <br>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>