<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="shared/header :: header-css"/>
        <title>Strona domowa</title>
    </head>
    <body>
        <div th:replace="shared/header :: header('userCredits')"/>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        Kwota pożyczki
                    </td>
                    <td>
                        Całkowita kwota
                    </td>
                    <td>
                        Spłacono
                    </td>
                    <td>
                        Miesięczna rata
                    </td>
                    <td>
                        Okres trwania(miesiące)
                    </td>
                    <td>
                        Ilość rat do końca
                    </td>
                    <td>
                        Data przyznania kredytu
                    </td>
                    <td>
                        Przewidywany czas zakończenia kredytu
                    </td>
                    <td>
                        Ostatnia wpłata
                    </td>
                    <td>
                        Typ kredytu
                    </td>
                    <td>
                        Status
                    </td>
                </tr>
                <tr th:each="userCredit : ${userCredits}">
                    <td>
                        [[${userCredit.creditAmount}]]
                    </td>
                    <td>
                        [[${userCredit.totalRepayment}]]
                    </td>
                    <td>
                        [[${userCredit.currentRepayment}]]
                    </td>
                    <td>
                        [[${userCredit.monthRepayment}]]
                    </td>
                    <td>
                        [[${userCredit.numberOfMonths}]]
                    </td>
                    <td>
                        [[${userCredit.numberOfMonthsToTheEnd}]]
                    </td>
                    <td>
                        <span th:text="${#dates.format(userCredit.startDate, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(userCredit.endDate, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        <span th:if="${userCredit.lastPayment == null}"></span>
                        <span th:unless="${userCredit.lastPayment == null}">[[${userCredit.lastPayment}]]</span>
                    </td>
                    <td>
                        [[${userCredit.creditType.name}]]
                    </td>
                    <td>
                        <div th:switch="${userCredit.isPaidOff}">
                            <span th:case="true">Aktywny</span>
                            <span th:case="false">Spłacono</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>