<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="shared/header :: header-css"/>
        <title>Strona domowa</title>
    </head>
    <body>
        <div th:replace="shared/header :: header('credits')"/>
        <table class="table table-striped" style="width: 90%;">
            <tbody>
                <tr>
                    <td>
                        Kwota pożyczki
                    </td>
                    <td>
                        Całkowita kwota
                    </td>
                    <td>
                        Spłacono
                    </td>
                    <td>
                        Miesięczna rata
                    </td>
                    <td>
                        Okres trwania(miesiące)
                    </td>
                    <td>
                        Ilość rat do końca
                    </td>
                    <td>
                        Data przyznania kredytu
                    </td>
                    <td>
                        Przewidywany czas zakończenia kredytu
                    </td>
                    <td>
                        Ostatnia wpłata
                    </td>
                    <td>
                        Typ kredytu
                    </td>
                    <td>
                        Status
                    </td>
                </tr>
                <tr th:each="userCredit : ${userCredits}">
                    <td>
                        [[${userCredit.creditAmount}]]
                    </td>
                    <td>
                        [[${userCredit.totalRepayment}]]
                    </td>
                    <td>
                        [[${userCredit.currentRepayment}]]
                    </td>
                    <td>
                        [[${userCredit.monthRepayment}]]
                    </td>
                    <td>
                        [[${userCredit.numberOfMonths}]]
                    </td>
                    <td>
                        [[${userCredit.numberOfMonthsToTheEnd}]]
                    </td>
                    <td>
                        <span th:text="${#dates.format(userCredit.startDate, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(userCredit.endDate, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        <span th:if="${userCredit.lastPayment == null}"></span>
                        <span th:unless="${userCredit.lastPayment == null}">[[${userCredit.lastPayment}]]</span>
                    </td>
                    <td>
                        [[${userCredit.creditType.name}]]
                    </td>
                    <td>
                        <div th:switch="${userCredit.isPaidOff}">
                            <span th:case="false">Aktywny</span>
                            <span th:case="true">Spłacono</span>
                        </div>
                    </td>
                    <div th:switch="${userCredit.isPaidOff}">
                        <div th:case="false">
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="id" th:value="${userCredit.id}" />
                                    <div class="form-group">
                                        <input type="text" name="credit" th:value="${userCredit.monthRepayment}"
                                               class="form-control" readonly
                                               autofocus="true"/>
                                    </div>
                                    <input
                                            type="hidden"
                                            th:name="${_csrf.parameterName}"
                                            th:value="${_csrf.token}"/>
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zapłać ratę"/>
                                </form>
                            </td>
                            <td>
                                <form method="POST">
                                    <div class="form-group">
                                        <select class="form-control" name="credit">
                                            <option th:each="month : ${#numbers.sequence(1, userCredit.getNumberOfMonthsToTheEnd())}"
                                                    th:value="${month * userCredit.monthRepayment}"
                                                    th:text="${month}"
                                            />
                                        </select>
                                    </div>
                                    <input type="hidden" name="id" th:value="${userCredit.id}"/>
                                    <input
                                            type="hidden"
                                            th:name="${_csrf.parameterName}"
                                            th:value="${_csrf.token}"/>
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zapłać"/>
                                </form>
                            </td>
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="id" th:value="${userCredit.id}" />
                                    <div class="form-group">
                                        <input type="text" name="credit" th:value="${userCredit.totalRepayment - userCredit.currentRepayment}"
                                               class="form-control" readonly
                                               autofocus="true"/>
                                    </div>
                                    <input
                                            type="hidden"
                                            th:name="${_csrf.parameterName}"
                                            th:value="${_csrf.token}"/>
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Spłać kredyt"/>
                                </form>
                            </td>
                        </div>
                        <span th:case="true"></span>
                    </div>
                </tr>
            </tbody>
        </table>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>