<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="shared/header :: header-css"/>
        <title>Strona domowa</title>
    </head>
    <body>
        <div th:replace="shared/header :: header('bankAccounts')"/>
        <table class="table">
            <thead>
            <tbody>
                <tr>
                    <td>
                        <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_YOUNG')}">
                            <span>KONTO DLA MŁODYCH</span>
                        </div>
                        <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_ADULT')}">
                            <span>STANDARDOWE KONTO</span>
                        </div>
                        <div th:if="${userAccount.accountType.type.toString().equals('FOR_CUR_ACC')}">
                            <span>KONTO WALUTOWE</span>
                        </div>
                    </td>
                    <td>
                        <span th:style="${'color: red;'}"
                              th:text="${'Blokady   ' + #numbers.formatDecimal(userAccount.lock,1,2) + ' ' + userAccount.currency.name}"></span>
                    </td>
                    <td>Dostępne środki</td>
                </tr>
                <tr>
                    <td>
                        [[${userAccount.bankAccountNumber}]]
                    </td>
                    <td>
                        <span th:text="${'Saldo ' + #numbers.formatDecimal(userAccount.balance,1,2) + ' ' + userAccount.currency.name}"></span>
                    </td>
                    <td>
                        <span th:text="${#numbers.formatDecimal(userAccount.availableFounds,1,2) + ' ' + userAccount.currency.name}"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <br> <br>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        Data
                    </td>
                    <td>
                        Odbiorca/Nadawca/Tytuł
                    </td>
                    <td>
                        Operacja
                    </td>
                    <td>
                        Kwota
                    </td>
                    <td>
                        Saldo
                    </td>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td>
                        <span th:text="${#dates.format(transaction.date, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <div th:if="${transaction.transactionType.type.toString().equals('TRANSFER')}">
                                    <div th:if="${transaction.fromBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                                        <span>[[${transaction.userNameTo}]]</span>
                                    </div>
                                    <div th:if="${transaction.toBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                                        <span>[[${transaction.userNameFrom}]]</span><br>
                                        <span style="font-size: 10pt">[[${transaction.fromBankAccountNumber}]]</span>
                                    </div>
                                </div>
                                <div th:if="${transaction.transactionType.type.toString().equals('CASH_WITHDRAWAL')}">
                                    <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_YOUNG')}">
                                            <span>KONTO DLA MŁODYCH
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                userAccount.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                    </div>
                                    <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_ADULT')}">
                                            <span>STANDARDOWE KONTO
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                account.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                    </div>
                                    <div th:if="${userAccount.accountType.type.toString().equals('FOR_CUR_ACC')}">
                                            <span>KONTO WALUTOWE
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                userAccount.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                    </div>
                                </div>
                                <div th:if="${transaction.transactionType.type.toString().equals('CASH_PAYMENT')}">
                                    <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_YOUNG')}">
                                            <span>KONTO DLA MŁODYCH
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                userAccount.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                    </div>
                                    <div th:if="${userAccount.accountType.type.toString().equals('PAY_ACC_FOR_ADULT')}">
                                            <span>STANDARDOWE KONTO
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                account.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                    </div>
                                    <div th:if="${userAccount.accountType.type.toString().equals('FOR_CUR_ACC')}">
                                            <span>KONTO WALUTOWE
                                                [[${userAccount.bankAccountNumber.toString().substring(0, 4) + '...' +
                                                userAccount.bankAccountNumber.toString().substring(22, 26)}]]
                                            </span>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                [[${transaction.title}]]
                            </tr>
                        </table>
                    </td>
                    <td>
                        <div th:if="${transaction.transactionType.type.toString().equals('TRANSFER')}">
                            Przelew gotówkowy
                        </div>
                        <div th:if="${transaction.transactionType.type.toString().equals('CASH_WITHDRAWAL')}">
                            Wypłata gotówki
                        </div>
                        <div th:if="${transaction.transactionType.type.toString().equals('CASH_PAYMENT')}">
                            Wpłata gotówki
                        </div>
                    </td>
                    <td>
                        <div th:if="${transaction.transactionType.type.toString().equals('TRANSFER')}">
                            <div th:if="${transaction.fromBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                                <span th:text="${#numbers.formatDecimal('-' + transaction.value,1,2)  + ' ' + transaction.currency.name}"></span>
                            </div>
                            <div th:if="${transaction.toBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                                <span th:text="${#numbers.formatDecimal(transaction.value,1,2)  + ' ' + transaction.currency.name}"></span>
                            </div>
                        </div>
                        <div th:if="${transaction.transactionType.type.toString().equals('CASH_WITHDRAWAL')}">
                            <span th:text="${#numbers.formatDecimal('-' + transaction.value,1,2)  + ' ' + transaction.currency.name}"></span>
                        </div>
                        <div th:if="${transaction.transactionType.type.toString().equals('CASH_PAYMENT')}">
                            <span th:text="${#numbers.formatDecimal(transaction.value,1,2)  + ' ' + transaction.currency.name}"></span>
                        </div>
                    </td>
                    <td>
                        <div th:if="${transaction.transactionType.type.toString().equals('TRANSFER')}">
                            <div th:if="${transaction.fromBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                                <span th:text="${#numbers.formatDecimal(transaction.balanceAfterTransactionUserFrom,1,2)  + ' ' + transaction.currency.name}"></span>
                            </div>
                            <div th:if="${transaction.toBankAccountNumber.toString().equals(userAccount.bankAccountNumber.toString())}">
                                <span th:text="${#numbers.formatDecimal(transaction.balanceAfterTransactionUserTo,1,2)  + ' ' + transaction.currency.name}"></span>
                            </div>
                        </div>
                        <div th:if="${transaction.transactionType.type.toString().equals('CASH_WITHDRAWAL')}">
                            <span th:text="${#numbers.formatDecimal(transaction.balanceAfterTransactionUserFrom,1,2)  + ' ' + transaction.currency.name}"></span>
                        </div>
                        <div th:if="${transaction.transactionType.type.toString().equals('CASH_PAYMENT')}">
                            <span th:text="${#numbers.formatDecimal(transaction.balanceAfterTransactionUserTo,1,2)  + ' ' + transaction.currency.name}"></span>
                        </div>
                    </td>
                    <td>
                        <a href="#" th:onclick="'document.getElementById(\'' + ${transaction.id} + '\').submit();'">
                            <span>Pobierz potwierdzenie</span>
                        </a>
                        <form th:action="@{/confirmation}" th:id="${transaction.id}" method="post" style="display: none;">
                            <input
                                    type="hidden"
                                    th:name="id"
                                    th:value="${transaction.id}"/>
                            <input
                                    type="hidden"
                                    th:name="userAccount"
                                    th:value="${userAccount.bankAccountNumber}"/>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/confirmationSend}" th:id="${'send:' + transaction.id}" method="post" >
                            <input th:type="email" required th:name="email"/>
                            <input
                                    type="hidden"
                                    th:name="id"
                                    th:value="${transaction.id}"/>
                            <input
                                    type="hidden"
                                    th:name="userAccount"
                                    th:value="${userAccount.bankAccountNumber}"/>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                        </form>
                        <a href="#" th:onclick="'document.getElementById(\'send:' + ${transaction.id} + '\').submit();'">
                            <span>Wyślij potwierdzenie na adres email</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:replace="shared/footer :: footer"></div>
    </body>
</html>